
body {
    font-family: "Rubik", serif;
}

.background {
    background-color: black;
    width: calc(100vw - 2*20px);
    height: calc(100vh - 2*20px);
    padding: 20px;
}

.main-container {
    display: grid;
    grid-template-columns: 3fr 2fr 7fr;
    height: 100%;
    column-gap: 20px;
}


.completion {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    overflow: scroll;
}

.completion-canvas-container {
    width: 100px;
    height: 100px;
}

.calendar {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
}

.calendar .month {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.calendar .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 10px;
    row-gap: 5px;
    font-size: 14px;
    height: 100%;
}

.calendar .day {
    border: solid;
    border-width: 1px;
    height: 70px;
    display: flex;
    flex-direction: column;
}

.not-this-month {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.calendar .day-content {
    height: 100%;
    overflow: scroll;
}

.calendar .current-day {
    background-color: lightskyblue;
}

